{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <img src="https://avatars.githubusercontent.com/u/6173758?s=200&v=4"/>
        <a href="{{ path('customer_create') }}" class="btn wunder-color" type="submit">Register customer</a>
    </div>
{% endblock %}
