<section>
    <h3>Residential address</h3>
    <div class="form-row">
        <div class="form-col full">
            {{ form_row(form.address.street.name) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-col">
            {{ form_row(form.address.street.number) }}
        </div>
        <div class="form-col">
            {{ form_row(form.address.zipCode) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-col">
            {{ form_row(form.address.city) }}
        </div>
        <div class="form-col">
            {{ form_row(form.address.country) }}
        </div>
    </div>
</section>
