{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
		$(document).ready(function () {
			$("#customer_personalData_phoneNumber_number").intlTelInput({
				preferredCountries: ["de"],
				separateDialCode: true
			});
			$('form').submit(function () {
				$("#customer_personalData_phoneNumber_countryCode").val(
					$("#customer_personalData_phoneNumber_number").intlTelInput("getSelectedCountryData").dialCode);
			});
		});
    </script>
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    {{ form_start(form, {'attr' : {'id' : 'wizard'}}) }}
    <!-- SECTION 1 -->
    <h4></h4>
    {% include 'customer/personal-data.html.twig' %}
    <!-- SECTION 2 -->
    <h4></h4>
    {% include 'customer/address.html.twig' %}
    <!-- SECTION 3 -->
    <h4></h4>
    {% include 'customer/payment-data.html.twig' %}
    {{ form_end(form) }}
{% endblock %}
