{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="text-center">
            <h3>Your payment id: </h3>
            <p style="word-wrap: break-word; font-size: 20px">{{ paymentId }}</p>
        </div>
    </section>
{% endblock %}

