<section>
    <h3>Payment Information</h3>
    <div class="form-row">
        <div class="form-col full">
            {{ form_row(form.paymentData.accountOwner) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-col full">
            {{ form_row(form.paymentData.iban) }}
        </div>
    </div>
</section>
