<section>
    <h3>Personal Information</h3>
    <div class="form-row">
        <div class="form-col">
            {{ form_row(form.personalData.firstName) }}
        </div>
        <div class="form-col">
            {{ form_row(form.personalData.lastName) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-col">
            {{ form_row(form.personalData.phoneNumber.number) }}
            {{ form_row(form.personalData.phoneNumber.countryCode) }}
        </div>
    </div>
</section>
