* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0;
    color: #999;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

input, textarea, select, button {
    font-size: 14px;
    color: #333;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

select option[value=""][disabled] {
    display: none;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.wrapper {
    width: 819px;
    margin: auto;
    padding: 7px;
    background: url("../images/form-bg.png") repeat;
}

.wizard {
    position: relative;
    background: #fff;
    padding: 64px 58px 0;
    height: 548px;
}

.steps .current-info, .steps .number {
    display: none;
}

.steps {
    position: absolute;
    right: 42px;
    top: 5px;
    z-index: 9;
}

.steps ul {
    position: relative;
}

.steps ul:before {
    content: "1";
    font-size: 40px;
    color: #ccc;
}

.steps ul:after {
    content: "/ 3";
    font-size: 15px;
    color: #ccc;
    position: absolute;
    left: 16px;
    top: 13px;
    width: 22px;
}

.steps ul.step-2:before {
    content: "2";
}

.steps ul.step-2:after {
    left: 31px;
}

.steps ul.step-3:before {
    content: "3";
}

.steps ul.step-3:after {
    left: 31px;
}

h3 {
    font-size: 35px;
    color: #334145;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 32px;
}

.form-row {
    display: flex;
    margin-bottom: 25px;
}

.form-row .form-col {
    width: 50%;
    margin-right: 40px;
}

.form-row .form-col.full {
    width: 100% !important;
}

.form-row .form-col:last-child {
    margin-right: 0;
}

.form-col label {
    color: #333;
    margin-bottom: 7px;
    display: block;
}

.form-holder {
    position: relative;
}

.form-holder i:not(.zmdi-chevron-down) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 17px;
}

.form-holder i.zmdi-chevron-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 17px;
}

.form-holder.password i {
    cursor: pointer;
}

.form-control {
    height: 42px;
    border: 1px solid #ccc;
    width: 100%;
    background: none;
    font-size: 15px;
    padding-left: 46px;
    color: #999;
    /* &::-webkit-input-placeholder {
        color: #333;
    }
    &::-moz-placeholder {
        color: #333;
    }
    &:-ms-input-placeholder {
        color: #333;
    }
    &:-moz-placeholder {
        color: #333;
    } */
}

.form-control:focus {
    border-color: #334145;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    width: 31.25%;
    display: flex;
    margin-bottom: 21px;
    cursor: pointer;
}

.grid-item .thumb {
    width: 86.04%;
}

.grid-item .heading {
    width: 13.96%;
    text-transform: uppercase;
    font-size: 11px;
    background: #b3b3b3;
    color: #fff;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;
}

.grid-item.active .heading {
    background: #334145;
}

.grid-item:hover img {
    opacity: 0.6;
}

.actions ul {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.actions ul.mt-7 {
    margin-top: 7px;
}

.actions li a {
    border: none;
    display: inline-flex;
    height: 42px;
    width: 112px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: #334145;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
}

.actions li a:hover {
        background: #4f6065;
}

.actions li:first-child a {
    background: none;
    border: 1px solid #334145;
    color: #334145;
}

.actions li:first-child a:hover {
    border-color: transparent;
    color: #fff;
    background: #4f6065;
}

.actions li[aria-disabled="true"] a {
    display: none;
}

@media (max-width: 767px) {
    body {
        background: none;
        height: auto;
        display: block;
    }

    h3 {
        font-size: 30px;
    }

    .wrapper {
        width: auto;
        padding: 0;
    }

    .wizard {
        height: auto;
        padding: 60px 20px 20px;
    }

    .form-row {
        display: block;
    }

    .form-row .form-col {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .actions ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .actions ul li {
        margin-bottom: 20px;
    }

    .grid-item {
        width: 47%;
        display: block;
    }

    .grid-item .thumb {
        width: 100%;
    }

    .grid-item .heading {
        width: 100%;
        writing-mode: unset;
        transform: rotate(0);
        padding: 10px 0;
        font-size: 13px;
    }
}
