.button-container-div {
    width: 300px;
    height: 300px;
    margin: auto;
}

body {
    background-color: #f5f5f5;;
}

.text-center {
    text-align: center;
}

.btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: block;
    width: 100%;
}

.wunder-color {
    background-color: #334145;
    color: white;
}

.wunder-color:hover {
    opacity: 80%;
}
