<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FormWizard_v9</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="colorlib.com">

    <link rel="stylesheet" href="{{ asset('assets/css/form-wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css"/>
</head>
<body>
<div class="wrapper">
    <div class="flash">
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% block body %}{% endblock %}
</div>
</body>

<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>

<!-- JQUERY STEP -->
<script src="{{ asset('assets/js/jquery.steps.js') }}"></script>

<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/utils.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
